.footer {
  background-color: #222;
  border-radius: 20px 20px 0 0;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  margin-top: 50px; }
  .footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; }
    .footer .footer-content p {
      margin: 5px 0;
      line-height: 1.5; }
      .footer .footer-content p:first-of-type {
        font-weight: bold;
        font-size: 1.1rem; }
  @media (max-width: 768px) {
    .footer {
      font-size: 0.9rem; }
      .footer .footer-content p {
        font-size: 0.95rem; }
        .footer .footer-content p:first-of-type {
          font-size: 1rem; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.body {
  font-family: sans-serif;
  font-weight: 400;
  color: #aec1cc;
  background-color: #e5d3f1;
  margin: 3rem;
  height: 100rem; }

.header {
  background-image: linear-gradient(#3d0663b7, #3d0663b7), url(../img/bg-header.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  height: calc(100vh - 6rem);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%); }
  .header__heading--primary {
    font-size: 5rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #fff; }
  .header__btn:link, .header__btn:visited {
    font-family: inherit;
    font-size: 3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    margin-bottom: 30rem;
    border-radius: 50px;
    background-color: #fff;
    padding: 2rem 3rem;
    transition: all .2s;
    display: inline-block;
    position: relative; }
  .header__btn:hover {
    transform: translateY(-3px);
    box-shadow: 0.5rem 0.7rem 1.5rem #000; }
    .header__btn:hover::after {
      transform: scale(1.5);
      background-color: #fff;
      opacity: 0; }
  .header__btn:active {
    transform: translateY(-1px);
    box-shadow: 0.2rem 0.4rem 0.5rem #000; }
  .header__btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
    transition: all .2s; }

.heading--primary {
  font-size: 4rem;
  font-weight: 700px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #3c0663, #9112a4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.outter-container {
  width: 100%;
  text-align: center; }

.rounded-container {
  position: relative;
  border-radius: 20px;
  padding: 2rem;
  margin: 0 auto 2rem auto;
  width: 80vw;
  height: auto;
  background-color: #9112a4;
  box-shadow: 0.5rem 0.7rem 1.5rem #000; }

.reversed-cols-flex-container {
  display: flex;
  flex-direction: column-reverse; }

.rules {
  display: flex;
  flex-direction: column; }

.input-text {
  font-size: 2rem;
  border-radius: 50px;
  background-color: #999;
  text-align: center;
  border: none;
  margin: 0 0 1rem 0; }
  .input-text--rule {
    width: 75%;
    flex: 0 0 10%;
    font-size: 2.5rem; }
    .input-text--rule:focus {
      background-color: white; }
    .input-text--rule:disabled {
      background-color: #9112a4;
      color: white; }

.buttons-container {
  display: flex;
  justify-content: end; }

.pda-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 2rem;
  width: 80vw;
  height: auto;
  box-shadow: 0.5rem 0.7rem 1.5rem #000; }
  .pda-container input {
    font-size: 2.5rem;
    border-radius: 50px;
    background-color: #999;
    text-align: center;
    border: none;
    flex: 0 0 60%;
    width: 30%;
    margin: 0 0 1rem 0; }
    .pda-container input:focus {
      background-color: white; }
    .pda-container input:disabled {
      background-color: #9112a4;
      color: white; }

#derivationTable {
  width: 100%;
  border-collapse: collapse; }

#derivationTable th, #derivationTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left; }

.instruction {
  font-size: 2.5rem; }

.hidden {
  display: none; }

.btn--primary {
  order: 1;
  align-self: flex-end;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
  border: none; }
  .btn--primary:last-child {
    margin-right: 0; }
  .btn--primary:disabled {
    opacity: 0.5;
    /* Adjust the opacity to your preference */
    cursor: not-allowed;
    /* You can also add other styles like changing the background color or text color */ }

.btn--secondary {
  order: 1;
  align-self: flex-end;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  border: none;
  background-color: #1f89f4;
  margin-top: 0;
  margin-right: 0;
  padding: 0.1rem 2rem; }
  .btn--secondary:last-child {
    margin-right: 0; }
  .btn--secondary:disabled {
    opacity: 0.5;
    /* Adjust the opacity to your preference */
    cursor: not-allowed;
    /* You can also add other styles like changing the background color or text color */ }

.btn--blue {
  background-color: #1f89f4; }

.btn--gold {
  background-color: #a98a03; }

.btn--green {
  background-color: #0bbf4d; }

.btn--red {
  background-color: #db061c; }

.rule {
  display: flex; }
  .rule .var {
    font-size: 2.5rem;
    color: white;
    flex: 0 0 6%; }
  .rule .productions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 0 0 90%;
    column-gap: 5px; }
    .rule .productions .prod-sep {
      font-size: 2.5rem;
      color: white;
      margin: 0 0 1rem 0; }
    .rule .productions .btn {
      border-radius: 50px;
      border: 0;
      justify-self: center;
      width: 2.5rem;
      height: 2.5rem;
      line-height: 2.5rem;
      color: white;
      font-size: 2.5rem;
      align-self: center;
      cursor: pointer;
      margin: 0 0 1rem 0; }

.add-rule-production {
  background-color: #0bbf4d;
  position: relative; }
  .add-rule-production::before, .add-rule-production::after {
    display: inline-block;
    content: "";
    height: 1.5rem;
    width: 0.3rem;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    right: 1.17rem; }
  .add-rule-production::after {
    transform: rotate(90deg); }

.remove-rule-production {
  background-color: #db061c;
  position: relative; }
  .remove-rule-production::after {
    display: inline-block;
    content: "";
    height: 1.5rem;
    width: 0.3rem;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    right: 1.17rem; }
  .remove-rule-production::after {
    transform: rotate(90deg); }

.success {
  background-color: #d0e9c6; }

.success--text {
  color: #407a52; }

.failure {
  background-color: #ebcccc; }

.failure--text {
  color: #a94442; }

.accepted {
  background-color: #d4edda;
  /* Light green background */ }

.rejected {
  background-color: #f8d7da;
  /* Light red background */ }

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

table#stepsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 3px solid #000000;
  border-radius: 20px;
  overflow: hidden;
  color: black; }
  table#stepsTable thead {
    background-color: #f2f2f2; }
    table#stepsTable thead tr th {
      padding: 8px;
      text-align: left;
      border: 1px solid #000000; }
  table#stepsTable tbody .success {
    background-color: lightgreen; }
  table#stepsTable tbody .failure {
    background-color: lightcoral; }
  table#stepsTable tbody tr td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000000; }
    table#stepsTable tbody tr td .bold {
      font-weight: 800; }
    table#stepsTable tbody tr td .colored {
      font-weight: 800;
      color: blue; }

/* Stack Visualization */
.stack-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f9f9f9; }

.stack-visual {
  position: absolute;
  left: 10px;
  top: 100px;
  width: 80px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f9f9f9; }

.stack-element {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  margin-bottom: 2px;
  background-color: #fff; }

/* Word Visualization */
.word-visual {
  text-align: center;
  margin-bottom: 20px; }

.word-letter {
  display: inline-block;
  font-size: 24px;
  margin: 0 2px; }

.current-letter {
  text-decoration: underline;
  color: red; }

/* PDA Message */
.pda-message {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  background-color: #f9f9f9; }

#shared-input-handler {
  display: none; }

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center; }

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }
