.container {
    width: 100%;
    text-align: center;

    &__heading {
        font-size: 4rem;
        font-weight: 700px;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 2rem;
        background-image: linear-gradient(to right, $color-primary, $color-secondary);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__user-input {
        display: flex;
        flex-direction: column-reverse;
        border-radius: 20px;
        padding: 2rem;
        margin: 0 auto 2rem auto;
        width: 80vw;
        height: auto;
        background-color: $color-secondary;
        box-shadow: 0.5rem 0.7rem 1.5rem #000;

        & .rules {
            display: flex;
            flex-direction: column;
        }

        & .test-wrapper input {
            font-size: $rule-font-size;
            border-radius: 50px;
            background-color: $color-grey-medium;
            text-align: center;
            border: none;
            flex: 0 0 10%;
            width: 75%;
            margin: 0 0 1rem 0;

            &:focus {
                background-color: white;
            }

            &:disabled {
                background-color: $color-secondary;
                color: white;
            }
        }

        & .buttons-container {
            display: flex;
            justify-content: end;
        }
    }

    .cfg-test {
        // margin-top: 20px;
        margin: 2rem auto;
        background-color: orangered;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        padding: 2rem;
        width: 80vw;
        height: auto;
        // background-color: $color-secondary;
        box-shadow: 0.5rem 0.7rem 1.5rem #000;

        & input {
            font-size: $rule-font-size;
            border-radius: 50px;
            background-color: $color-grey-medium;
            text-align: center;
            border: none;
            flex: 0 0 60%;
            width: 30%;
            margin: 0 0 1rem 0;

            &:focus {
                background-color: white;
            }

            &:disabled {
                background-color: $color-secondary;
                color: white;
            }
        }
    }

    #derivationTable {
        width: 100%;
        border-collapse: collapse;
    }

    #derivationTable th, #derivationTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
}

.instruction {
    font-size: $rule-font-size;
}

.wordInput {
    font-size: 2rem;
    min-width: 200px;
    max-width: 300px;
}

.hidden {
    display: none;
}

.btn--primary {
    order: 1;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-right: 1rem;
    color: white;
    border: none;

    &:last-child {
        margin-right: 0;
    }

    &:disabled {
        opacity: 0.5; /* Adjust the opacity to your preference */
        cursor: not-allowed;
        /* You can also add other styles like changing the background color or text color */
    }
}

.btn--secondary {
    order: 1;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
    border: none;

    background-color: #1f89f4;
    margin-top: 0;
    margin-right: 0;
    padding: 0.1rem 2rem;

    &:last-child {
        margin-right: 0;
    }

    &:disabled {
        opacity: 0.5; /* Adjust the opacity to your preference */
        cursor: not-allowed;
        /* You can also add other styles like changing the background color or text color */
    }
}

#btn-done {
    background-color: #1f89f4;
}
#btn-testcfg {
    background-color: #a98a03;
}
#btn-convert {
    background-color: #0bbf4d;
}
.btn--red {
    background-color: #db061c;
}

.rule {
    display: flex;

    & .var {
        font-size: $rule-font-size;
        color: white;
        flex: 0 0 6%;
    }

    & .productions {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex: 0 0 90%;
        column-gap: 5px;

        & .input-text {
            font-size: $rule-font-size;
            border-radius: 50px;
            background-color: $color-grey-medium;
            text-align: center;
            border: none;
            flex: 0 0 10%;
            width: 75%;
            margin: 0 0 1rem 0;

            &:focus {
                background-color: white;
            }

            &:disabled {
                background-color: $color-secondary;
                color: white;
            }
        }

        & .prod-sep {
            font-size: $rule-font-size;
            color: white;
            margin: 0 0 1rem 0;
        }

        & .btn {
            border-radius: 50px;
            border: 0;
            justify-self: center;
            width: $rule-font-size;
            height: $rule-font-size;
            line-height: $rule-font-size;
            color: white;
            font-size: $rule-font-size;
            align-self: center;
            cursor: pointer;
            margin: 0 0 1rem 0;
        }
    }
}

.add-rule-production {
    background-color: #0bbf4d;
    position: relative;

    &::before,
    &::after {
        display: inline-block;
        content: "";
        height: 1.5rem;
        width: 0.3rem;
        background-color: white;
        position: absolute;
        top: 0.5rem;
        right: 1.17rem;
    }

    &::after {
        transform: rotate(90deg);
    }
}

.remove-rule-production {
    background-color: #db061c;
    position: relative;

    &::after {
        display: inline-block;
        content: "";
        height: 1.5rem;
        width: 0.3rem;
        background-color: white;
        position: absolute;
        top: 0.5rem;
        right: 1.17rem;
    }

    &::after {
        transform: rotate(90deg);
    }
}

.success {
    background-color: #d0e9c6;
}

.failure {
    background-color: #ebcccc;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



// table {
//     width: 100%;
//     border-collapse: collapse;
// }
// table, th, td {
//     border: 1px solid black;
// }
// th, td {
//     padding: 10px;
//     text-align: center;
// }
// .success {
//     background-color: lightgreen;
// }
// .failure {
//     background-color: lightcoral;
// }


table#stepsTable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 3px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    color: black;

    thead {
        background-color: #f2f2f2;
        tr {
            th {
                padding: 8px;
                text-align: left;
                border: 1px solid #000000;
            }
        }
    }

    tbody {
        .success {
            background-color: lightgreen;
        }
        .failure {
            background-color: lightcoral;
        }
        tr {
            td {
                padding: 8px;
                text-align: left;
                border: 1px solid #000000;
                .bold {
                    font-weight: 800;
                }
                .colored {
                    font-weight: 800;
                    color: blue;
                }
            }
        }
    }
}


